.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app :global(header) {
  background-color: #143055;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.app :global(main) {
  flex: 1;
  min-height: 0;
}
